.searchBar {
  margin-top: 40px;
  display: flex;
  width: 100%;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
}

.searchBarElement {
  position: relative; /* 부모 요소를 relative로 설정 */
  display: flex;
  align-items: center;
  gap: 10px;
}

#searchIcon {
  width: 16px;
  height: 16px;
}

#close {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute; /* close 아이콘의 위치를 조정하기 위해 절대 위치 지정 */
  right: 0px; /* input 요소의 오른쪽에서 16px 떨어진 위치 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 상태로 표시 */
}

#inputText {
  color: var(--Text, #666);
  background-color: transparent; /* 입력란 배경색을 투명하게 설정 */
  border: none; /* 테두리 제거 */
  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
